@charset "ISO-8859-1";
body{
	align : center;
	text-align : center;
	background-color: #ffffff;
	background-repeat: no-repeat;
	background-image: url("https://images.pexels.com/photos/1029622/pexels-photo-1029622.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
#titulo{
	font-family: Impact;
	font-size: 40px;
}
#texto_aviso{
	font-family: Impact;
	font-size: 30px;
}