@charset "ISO-8859-1";
body {
  background-color: #eee;
  text-align: center;
}
.AltaVideo.form {
  text-align: center;
  border: 1% solid #929eb2;
  background-color: #d7d9dd;
  font-family: arial;
  font-size: 16px;
}

.AltaVideo.button {
  background-color: #cbf2ae;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.AltaVideo.input[type="file"] {
  background-color: #d7d9dd;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.AltaVideo.select {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
