@charset "ISO-8859-1";

.alta-usuario-form {
  text-align: center;
  border: 1% solid #929eb2;
  margin: 2%;
  background-color: #d7d9dd;
  font-family: arial;
  font-size: 16px;
  padding: 2rem;
}

.alta-usuario-form input[type="file"] {
  background-color: #d7d9dd;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.alta-usuario-form select {
  background-color: #d7d9dd;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
