@CHARS@CHARSET "UTF-8";
.main-content{
	 display: inline-block;
	 background-color: #eee;
}
body {
  background-color: #eee;
  text-align: center;
  text-decoration: none;  
} 

table.tabs {
    border-collapse: separate;
    border-spacing: 0;
    background-color: #eeeeee;
    font-size: 0.9em;

}

th.tabck {
    border: #000000 solid 1px;
    border-bottom:0 ;
    border-radius: 0.5em 0.5em 0 0;
    padding: 0.3em;
    text-align: center;
    cursor: pointer;
    background-color: red;
    }
th.tabcks {
    border: 0;
    border-bottom: black solid 1px;
    }
th.tabcks:first-child {
    border-left: #060606 solid 1px;
    }
th.tabcks:last-child {
    border-right: black solid 1px;
    }
table.tabs tr:first-child th.tabcks {
    border-left: none;
    border-right: none;
    }
table.tabs[data-filas] th.tabck {
    box-shadow: 0 -0.15em 0.1em 0 white;
    }
table.tabs td {
    border: gray solid 1px;
    border-top: 0;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
 }


/* El ancho y alto de los div.tabdiv se configuran
en cada aplicaciï¿½n */
div.tabdiv {
	background-color: #eee;
    border: 0;
    padding: 0.5em;
    overflow: auto;
    display: none;
    width: 100%;
    height: auto;
    }
    