@charset "UTF-8";
.vertical-menu {
  flex: 1 1 auto;
  justify-content: center;
  min-width: 200px; /* Set a width if you like */
  margin: auto;
  background-color: #eee;
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.btn-link {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: #0000ee;
  padding: 0;
  text-decoration: underline;
  font-family: inherit;
  font-size: inherit;
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #ff0000; /* Add  color to the "active/current" link */
  color: white;
}
