@charset "UTF-8";

.login button:hover {
  background-color: #ff0000;
  color: white;
}


.login button {
  padding: 6px;
  border: red;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

#textoAntes {
	font-size: 21px;
	font-weight: bold;
}
.login {
  padding-top : 70px
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  background-color:transparent !important;
  border:none !important;
}

input{
  background-color:transparent !important;	
}

.login input {
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.loli{
	background-image:url("media/images/loliLogin.png");
	background-repeat: no-repeat;
	background-size: auto;
	background-color : white;
}